<div class="backdrop_students is-hidden">
  <div class="modal-wrapper_students">
    <div class="form-modal_students">
      <p class="form-name_students">students working on a project</p>
      <ul class="students">
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
        <li class="student-card">
          <p class="name-student">name</p>
          <img
            class="students-img"
            src="https://cdn.pixabay.com/photo/2018/03/15/13/52/earth-3228308__340.png"
            width="200"
            height="200"
          />
        </li>
      </ul>
      <button class="modal-btn_students">
        <svg class="students-svg" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
